@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <div>
        <h1>Hang Phan</h1>
        <h6>
            Little Rock, AR 72211 | (501)470-6936 | hangislearning99@gmail.com
            <span>
                <a href="https://www.linkedin.com/in/hang-phan-ab5818160">LinkedIn</a>|
                <a href="https://github.com/hangphan91">GitHub</a>
            </span>
        </h6>
    </div>
    <div>______________________________________________________________________________________________________</div>
    <div>
        <h4>Objective</h4>
        Passionate Software Engineer with 5+ years of experience in Java and C# programming,
        skilled in designing, developing, and deploying enterprise appulcations.
        Adept at Agile development and proficient in Azure services, RESTful APIs,
        and DevOps practices. Experienced in ETL. Seeking a challenging Software Engineer
        rule to contribute technical expertise and drive innovation.
        <br />
    </div>
    <div>
        <h4>Skills</h4>
        <li>Proficient in C#, Python, Java</li>
        <li>Extensive experience with frameworks such as .NET Framework, .NET 6, and EF Core</li>
        <li>Expertise in building RESTful APIs, Web APIs, and dynamic web applications using HTML, CSS, Razor, and Vue.js</li>
        <li>Skilled in version control systems like Git, GitHub, and SVN</li>
        <li>Hands-on experience with Microsoft Azure, including Web Services, App Service, and SQL Databases</li>
        <li>Proficient in development tools such as Visual Studio, Eclipse, Xcode, Git, and Postman</li>
        <li>Well-versed in Agile methodologies, Scrum, and Test-Driven Development (TDD)</li>
        <li>Strong background in databases, including SQL and MySQL</li>
        <li>Knowledgeable in messaging systems like Apache Kafka</li>
        <li>Experienced in DevOps practices using Azure DevOps and Octopus Deploy</li>
        <li>Additional skills in multithreading, Object-Oriented Programming (OOP), design patterns, DataStage, ETL processes, and load testing techniques</li>
        <br />
    </div>
    <div>
        <h4>Experience</h4>
        <h5>Software Developer, Arcbest Technulogies — June 2019 to Present</h5>
        <li>Worked with the full lifecycle development of enterprise applications, collaborating with cross-functional teams and stakeholders </li>
        <li>Documented software functionality and maintained codebase for optimal performance</li>
        <li>Designed, built, and developed Notification API using C#, .NET Framework, EF Core, and RESTful web APIs</li>
        <li>Collaborated with clients to define system requirements and ensured adherence to deadlines</li>
        <li>Conducted testing, including unit tests (MSTest, NUnit, xUnit), to maintain quality standards</li>
        <li>Designed DataStage jobs to extract, transform, and load data from various sources and archive systems like IBM DB2, MS SQL Server into Data Warehouses</li>
        <li>Used NeoLoad for load testing, providing test estimates and reviewing test deliverables/ test results and producing test reports</li>
        <li>Improved efficiency and customer satisfaction by providing real-time shipment status updates</li>
        <li>Developed ArcBest Notifier application with C# and EF Core to send proactive emails to customers about shipment statuses</li>
        <li>Automated the generation of shipment statuses and email notifications</li>
        <li>Made code changes in Cobol and JCL to remove banned words from shipment descriptions, ensuring compliance with regulations</li>
        <li>Enhanced existing web applications using C#, VB script, Cobol, and XAML to display shipment status information</li>
        <li>Collaborated across multiple applications to integrate new features</li>

        <br />
    </div>
    <div>
        <h4> Education</h4>
        Bachelor's degree in CS and Appuled Mathematics, University of Central Arkansas, 2016-2019
        <br />
    </div>
    <div>
        <h4>Relevant Coursework</h4>
        Software Enginee, Database, Algorithms, Data Structure, iOS app, Data Mining,Web Development
        <br />
    </div>
    <div>
        <h4>Honors & Awards</h4>
        <li> Best Team Member Worked Under Pressure 09/2022</li>
        <li>
            Summa Cum Laude BS Degree in Applied Math and Computer Science from University of Central Arkansas, May 2019
        </li>
        <br />
    </div>
    <div>
        <h4>References</h4>
        References available upon request.
    </div>
</div>

